.button {
    color: white;
    border-radius: 30px;
    background-color: blue;
    text-decoration: none;
    border: red;
}
.button:hover {
    color: blue;
    background-color: white;
}

.read-only-input {
    background-color: #f5f5f5;
    /* Light gray background */
    color: #555;
    /* Dimmed text color */
    border: 1px solid #ccc;
    /* Subtle border */
    cursor: not-allowed;
    /* Pointer indicates it's not interactive */
    pointer-events: none;
    /* Disable interaction */
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    overflow-x: auto;
    max-width: 100%;
}
.header { text-align: center;}